<footer id="mainFooter">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Help</h4>
            <ul>
                <li><a href="/orderstatus">Order Status</a></li>
                <li><a href="/shipping">Shipping and Delivery</a></li>
                <li><a href="/returns">Returns</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="map-of-stores">Find a Store</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>About</h4>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/investors">Investors</a></li>
                <li><a href="/sustainability">Sustainability</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Shoe Store. All rights reserved.</p>
    </div>