<footer id="mainFooter">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Help</h4>
            <ul>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7ea09dfec61bb79bd13813af00e6d5cd139f0de0
                <li><a href="/orderstatus">Order Status</a></li>
                <li><a href="/shipping">Shipping and Delivery</a></li>
                <li><a href="/returns">Returns</a></li>
                <li><a href="/contact">Contact Us</a></li>
<<<<<<< HEAD
=======
=======
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Shipping and Delivery</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Contact Us</a></li>
>>>>>>> 8a0e8997697cab5ffdc8f003708ec5bba2dddc23
>>>>>>> 7ea09dfec61bb79bd13813af00e6d5cd139f0de0
                <li><a href="map-of-stores">Find a Store</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>About</h4>
            <ul>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 7ea09dfec61bb79bd13813af00e6d5cd139f0de0
                <li><a href="/about">About Us</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/investors">Investors</a></li>
                <li><a href="/sustainability">Sustainability</a></li>
<<<<<<< HEAD
=======
=======
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Sustainability</a></li>
>>>>>>> 8a0e8997697cab5ffdc8f003708ec5bba2dddc23
>>>>>>> 7ea09dfec61bb79bd13813af00e6d5cd139f0de0
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Shoe Store. All rights reserved.</p>
<<<<<<< HEAD
    </div>
=======
    </div>
<<<<<<< HEAD
=======
</footer>
>>>>>>> 8a0e8997697cab5ffdc8f003708ec5bba2dddc23
>>>>>>> 7ea09dfec61bb79bd13813af00e6d5cd139f0de0
