<header id="mainHeader">
    <nav>
        <div class="logo">
            <img src="../video/swoosh-logo-black.png" alt="Logo">
        </div>
        <ul>
            <li><a href="#" onclick="loadContent('/home')">Home</a></li>
            <li><a href="#" onclick="loadContent('/home')">Men</a></li>
            <li><a href="#" onclick="loadContent('/home')">Women</a></li>
            <li><a href="#" onclick="loadContent('/home')">Kids</a></li>
            <li><a href="#" onclick="loadContent('/home')">Sale</a></li>
        </ul>
        <div class="search-cart">
            <input type="text" placeholder="Search...">
            <a href="#" class="sign-in">Sign In</a>
            <a href="#" id="logoutLink" style="display: none;">Logout</a>
            <a href="/cart" class="cart-icon">🛒</a>
        </div>
    </nav>
</header>
