
<section class="hero-men">
    <video autoplay muted loop id="myVideoMen">
        <source src="../video/Mens Shoes Clothing  Accessories Nike IL.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <img src="../video/men1.jpg" id="heroImageMen" alt="Men's Collection Image"> <!-- Image for small screens -->
    <div class="hero-men-content">
        <h1>Men's Collection</h1>
        <p>Explore the latest trends</p>
        <a href="/men" class="cta-button">Shop Men's</a>
    </div>
</section>
