<div id="purchaseModal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closePurchasesOverlay()">&times;</span>
        <h3>User Purchases</h3>
        <ul id="purchasesList"></ul>
    </div>
</div>