<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe Store</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <%- include('partials/header') %>
    <main>
       <!-- Main content goes here -->
    </main>
    <%- include('partials/footer') %>
</body>
</html>
