<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale</title>
    <link rel="stylesheet" href="base.css">
</head>
<body>
    <div id="page-container">
        <header>
            <%- include('partials/header') %>
        </header>

        <main >
            
        </main>

        <footer id="mainFooter">
            <%- include('partials/footer') %>
        </footer>
    </div>
</body>
</html>
