/* Shoe-Related Styling */
#add-shoe {
    margin-top: 20px;
}

#add-shoe-form,
#edit-shoe-form {
    margin-top: 20px;
}

#edit-shoe-section {
    display: none;
}

#shoe-actions {
    margin-top: 20px;
}

#shoe-table {
    margin-top: 20px;
}

td button {
    margin-right: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

td button:hover {
    background-color: #0056b3;
}

#edit-shoe-form button[type="button"] {
    background-color: #dc3545;
    margin-left: 10px;
}

#edit-shoe-form button[type="button"]:hover {
    background-color: #c82333;
}
