/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

#content-wrap {
    padding: 20px;
}

h2 {
    color: #343a40;
    margin-bottom: 20px;
}

/* User Management Section */
#user-management {
    margin-top: 20px;
}

#user-management table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#user-management th, 
#user-management td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
}

#user-management th {
    background-color: #343a40;
    color: #ffffff;
}

#user-management td {
    background-color: #ffffff;
    color: #343a40;
}

#user-management tr:nth-child(even) {
    background-color: #f2f2f2;
}

#user-management button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#user-management button:hover {
    background-color: #0056b3;
}

/* Add User Form */
#add-user {
    margin-top: 20px;
    max-width: 400px;
}

#add-user-form {
    display: flex;
    flex-direction: column;
}

#add-user-form label {
    margin: 5px 0;
    font-weight: bold;
}

#add-user-form input, 
#add-user-form button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#add-user-form input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
}

#add-user-form button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

#add-user-form button:hover {
    background-color: #218838;
}

#store-search-container {
    position: relative;
    margin-bottom: 20px;
}

#store-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

#store-search-results div {
    padding: 10px;
    cursor: pointer;
}

#store-search-results div:hover {
    background-color: #f0f0f0;
}

#store-search-results div:hover {
    background-color: #f0f0f0;
    transform: translateX(10px); /* Move item to the right */
    transition: transform 0.3s ease;
}