<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <script src="/scripts/dashboard.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div id="page-container">
        <div id="tabs">
            <ul>
                <li><a href="#" id="store-stats">Store Statistics</a></li>
                <li><a href="#" id="add-shoe">Add New Shoe</a></li>
                <li><a href="#" id="shoe-actions">Manage Shoes</a></li>
                <li><a href="#" id="store-management">Manage Stores</a></li>
                <li><a href="#" id="add-user">Add New User</a></li>
                <li><a href="#" id="user-management">Manage Users</a></li>
            </ul>
            <main id="content-wrap">
                <div id="content">
                    <h2 id="staticTitle">Store Statistics</h2>
                    <!-- Store statistics will go here -->
                </div>
            </main>
        </div>
    </div>
    <script src="/scripts/shoes-func.js"></script>
    <script src="/scripts/stores-func.js"></script>
    <script src="/scripts/user-management.js"></script>
</body>
</html>
